.global-nav__list{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: 0;
    margin: 0;

    background-color:#66D3FA;
    color:white;

    list-style: none;
}

.global-nav__link{
    display: inline-block;

    padding: 0.5rem 1rem;

    font-size: 1.3rem;

}

.global-nav__link:hover{
    background-color:#4279B4;
    color: white;
}

@media screen and (min-width: 44rem){
    .global-nav__list{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        
        padding: 0;
        margin: 0;
    
        background-color: pink;
        color:purple;
    
        list-style: none;
    }
    
    .global-nav__link{
        display: inline-block;
    
        padding: 0.5rem 1rem;
    
        font-size: 1.3rem;
    
    }
    
    .global-nav__link:hover{
        background-color: rebeccapurple;
        color: white;
    }
}