.heading1{

    color:rgb(9, 13, 124);

    text-align: center;
}

.heading2{
 
    color:rgb(9, 13, 124);

   
}

@media screen and (min-width: 44rem){
    .heading1{
    
        color:rgb(93, 9, 124);

        text-align: center;
    }
    
    .heading2{
     
        color:rgb(93, 9, 124);

       
    }
   
    
}