*,*::before, *::after{
  box-sizing: border-box;
}

html,body{
  height: 100%;
  margin: 0;

  background-color:#D5F3FE;
}

#root{
  height: 100%;
}

@media screen and (min-width: 44rem){

  html,body{
    height: 100%;
    margin: 0;
  
    background-color :#FADADD;
  }
}